/build/

.vscode/
.idea/
*.suo
*.user
*.bak
*.vcproj.*.filters
*.vcxproj.*.user
*.sln.docstates

*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.lib
*.a

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CPackConfig.cmake
_CPack_Packages/
DartConfiguration.tcl
Testing/
*.dir
*.tlog
*.lastbuildstate
*.log
*.pbd

*.vcxproj
*.filters
*.sln
*.sdf
*.opensdf
ipch/
.vs/
Debug/
Release/
x64/
Win32/

.DS_Store

*.swp
*~